body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

.drop-icon{
    position: absolute;
    right: 50px;
}

.drop-contain{
    position: relative;
}
/*一级列表*/
.drop-first{
    width: 200px;
    /*min-height: 800px;*/
    height: auto;
    /*position: absolute;*/
    /*top:0;*/
    /*left: 0;*/
    float: left;
    background-color: yellow;
    border-right: 2px solid #eee;
}
.drop-title{
    width: 100%;
    margin: 20px auto;
    padding: 0 50px;
}

.first-contain{
    position: relative;
    margin: 20px auto;
}

.first-contain ul{
    font-size: 0;
}
.first-contain li{
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    padding: 0 50px;
}
.first-contain li:hover{
   background-color: #eee;
    color: #3a7bff;

}
/*二级列表*/
.drop-second{
    width: 200px;
    height: auto;
    /*min-height: 800px;*/
    height: auto;
    float: left;
    background-color: green;
    border-right: 2px solid #eee;
    /*display: none;*/
}
.second-contain{
    position: relative;
    /*padding: 20px 10px 10px 10px;*/
}
.second-contain li{
    line-height: 50px;
    cursor: pointer;
    padding: 0 50px;

}
/*第三列表*/
.drop-third{
    width: 600px;
    height: auto;
    float: left;
    background-color: orange;
    padding: 0 50px;
    /*display: none;*/
}
.third-contain{

}

.third-contain-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.third-item{
    width: 33%;
}
.third-item-tit{
    line-height: 30px;
    /*background-color: #0c5460;*/
}
.third-item-main{

}
.third-item-main li{
    line-height: 30px;
    cursor: pointer;
}